page-home {
    .company-logo{
        display: flex;

        img{
            // width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }

    .share-text{
        font-size: 11px;
        text-transform: capitalize;
    }

    .total-left-count .card-content img {
        width: 30px;
    }
    .total-left-count {
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        border: 2px solid #000;
        padding: 5px 40px;
    }
    .totalpoint .count-info {
        justify-content: center;
    }
.card-content {
    display: flex;
}
.total-left-count .card-content p {
    margin: 0px 30px 0px 10px !important;
}

.list{
    width: 96%;
    display: flex;
    align-items: center;
    // padding-top: 20px;
    // padding-bottom: 30px;
    border: 1px solid #ec3237;
    border-radius: 10px;
    margin: 0 auto;
    padding: 6px 0;
    .left-count {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        align-items: center;
        img{
            width: 30px;
        }
        p {
            font-size: 15px;
            letter-spacing: 1px;
        }
        h4 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
        }
    }

}
}
