page-architect-detail {

     
    .edit_profile{
        position: absolute;
        top: -14px;
        right: -14px;
        background: #d9ad0c;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 20px 0px 20px 20px;
    }
    .edit_profile i{
        color: white!important;;
    }
    
    .front h6 {
        font-size: 14px;
    }

    .dct_inf .text-center p {
        padding-left: 12px !important;
    }

}
